<!DOCTYPE html>
<html>
<body>

<button onclick="addDetails()">ADD STUDENT</button>
<button onclick="displayDetails()">SHOW STUDENT</button>
<button onclick="displayAlldetails()">DISPLAY ALL STUDENT</button>
<script>

function addDetails() {
  
         document.location = 'student_form';
}

function displayDetails() {

         document.location = 'display_individual_data';
}


function displayAlldetails() {

         document.location = 'display_all_data';
}




</script>





</body>
</html>

